#kategoriekarten{
  color: red;
  text-align: center;
}

a {
  text-decoration: none;
}

a:link{
  color: red;
}

a:visited{
  color: red;
}

/*entfernt die Kreise der Listenelementse*/
li {
  list-style: none;
}

#textbox1 {
  text-align: center;
}
